@import url('https://fonts.googleapis.com/css2?family=Gentium+Book+Plus&display=swap');

:root {
	--sunny: linear-gradient(to bottom right, #2877ba, #3ea7e0, #a9e0f5, #74bde2);
	--night: linear-gradient(to bottom right, #090830, #35378e, #1a1f4d, #090830);
	--cloud: linear-gradient(to bottom right, #9caeb9, #bac3c9, #90abbf, #61a6cd);
	--rainy: linear-gradient(to bottom right, #2b3c46, #4a5a67, #5a6b78, #21323c);
	--snow: linear-gradient(to bottom right, #8397a8, #e7eef4, #94aec3, #f1f4f6);
	--storm: linear-gradient(to bottom right, #1e222f, #6c7693, #1d212a, #17191c);
}

* {
	font-family: 'Gentium Book Plus', serif;
	text-shadow: 1px 1px 2px black;
	text-align: center;
	margin: auto;
	color: white;
}

body {
	background-color: #151c23;
	min-height: 100vh;
	display: grid;
}

header {
	padding: 20px;
	display: grid;
  grid-template-columns: 250px 150px;
  justify-content: center;
}

main {
	display: none;
	grid-template-columns: 1fr;
	justify-content: center;
	padding: 16px 0px;
}

form {
	border-bottom: 2px solid #ccc;
	display: flex;
}

button {
	background: transparent;
	padding: 0px;
	border: none;
}

.material-symbols-outlined {
	font-size: 20px;
}

input[type='search'] {
	font-size: 1.3rem;
	padding: 4px;
	text-align: left;
	background: transparent;
	border: none;
}

input[type='search'] {
	outline: none;
}

.switch {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 34px;
	cursor: pointer;
}

.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

.slider {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	transition: 0.4s;
}

.slider:before {
	position: absolute;
	content: '';
	height: 26px;
	width: 26px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	transition: 0.4s;
}

input:checked + .slider {
	background-color: black;
}

input:focus + .slider {
	box-shadow: 0 0 1px black;
}

input:checked + .slider:before {
	transform: translateX(26px);
}

.slider.round {
	border-radius: 34px;
}

.slider.round:before {
	border-radius: 50%;
}

.switch .labels {
	position: absolute;
	font-weight: bold;
	top: 6px;
	left: 0;
	width: 100%;
	height: 100%;
	transition: all 0.4s;
}

.switch .labels::after {
	content: attr(data-off);
	position: absolute;
	right: 5px;
	color: white;
	opacity: 1;
	transition: all 0.4;
}

.switch .labels::before {
	content: attr(data-on);
	position: absolute;
	left: 5px;
	color: white;
	opacity: 0;
	transition: all 0.4;
}

.switch input:checked~.labels::after {
	opacity: 0;
}

.switch input:checked~.labels::before {
	opacity: 1;
}

footer {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-content: center;
  background-color: transparent;
  height: min-content;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
  color: white;
}

a:hover {
  color: grey;
}

.section {
	display: flex;
	gap: 16px;
}

.location {
	font-size: 2.5rem;
}

.temp {
	font-size: 3rem;
}

main .material-symbols-outlined {
	font-size: 36px;
}

.current-temp .material-symbols-outlined {
	font-size: 64px;
}